<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")%>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Task Manager</h1>
<p>
  This is a task management application that allows you to create, manage, and track your tasks efficiently.
</p>
<p style="text-align: center;">
  Please <a href="/auth/register" style="display: inline-block;">register</a> or <a href="/auth/login" style="display: inline-block;">login</a> to get started.
</p>
</div>

    
</body>
</html>